# Outra coisa que eu estou utilizando simplesmente para ganhar tempo: Astronomer, porque ele já faz a parte de infraestrutura para mim.	
apache-airflow 
apache-airflow-providers-apache-spark
pyspark
pymysql 
apache-airflow-providers-mysql 
boto3
pandas
gdown